* {
  font-family: 'roboto';
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff33;
  padding: 8px;
}
.logo-container {
  display: flex;
  align-items: center;
  color: white;
}

.score-section {
  display: flex;
}
.score {
  margin: 12px;
  color: white;
  font-size: 20px;
}
